@import "tailwindcss";

:root {
    --black-text: #1E1E1E;
}

@theme {
   --color-gray-accent: #A1A1A1;
   --color-orange-accent: #F77429;
}

body {
    color: var(--black-text);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--montserrat-alternates);
}
